.intro {
    background: rgba(91, 149, 241, 0.712);
    position: relative;
    margin-top: 185px;
    margin-left: 75px;
    margin-right: 1000px;
    size: 150px, 200px;
    text-decoration-color: whitesmoke;
}

.layout-nav {
    background: rgba(91, 149, 241, 0.712);
}