
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles*/

body {
    background: var(--clr-light);
    color: green;
    margin: 0;
    font-family: var(--fs-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

.background

.fade-in-image { 
    animation: fadeIn 5s; 
}

.fade-in-text {
    font-family: Arial;
    font-size: 80px;
    animation: fadeIn 5s;
  }

img {
    display: block;
    max-width: 100%;
}

/*Typography*/

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
    color: red;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}