{% extends 'layout.html' %}

{% block content %} 
    <!--About Me-->
    <section class="about-me" id="about-me">
        <h2 class="section__title section__title--about-me">About Me</h2>
        <div class="about-me">
            <div class="about-me-sub">
                <h3>Example 1</h3>
                <p>Example paragraph</p>
            </div>
            <div class="about-me-sub">
                <h3>Example 2</h3>
                <p>Example paragraph</p>
            </div>
            <div class="about-me-sub">
                <h3>Example 3</h3>
                <p>Example paragraph</p>
            </div>
        </div>
        <a href="#aboutme" class="btn"></a>
    </section>
{% endblock %}
