{% extends 'layout.html' %}

{% block content %} 
    <!--Certifications and skills-->
    <section style="background: rgba(91, 149, 241, 0.712);" class="text-white mt-5" id="skill">
        <h2 class="section__title section__title--skill">My skills and certifications</h2>
        <p class="section__subtitle section__subtitle--about"></p>
        <div class="skills__body">
            <p></p>
            <p></p>
        </div>
        <div class="row container-fluid">
            <div class="col-6">
                <img  style="height: 500px; width: 750px;" src="{{url_for('static', filename='codingtemplecert.jpg')}} "/>
                
            </div>
            <div class="col-6">
                <div class="ms-lg-5">
                    <h3>While attending Coding Academy's Fullstack Developer course, I learned and worked with the following technologies.</h3>
                </div>
                <span>
                    <div class="m-3">
                        <img  style="height: 75px; width: 75px;" src="{{url_for('static', filename='html-logo.png')}} "/>
                    </div>
                    <div class="m-3">
                        <img  style="height: 75px; width: 75px;" src="{{url_for('static', filename='css-logo.png')}} "/>
                    </div>
                    <div class="m-3">
                        <img  style="height: 75px; width: 75px;" src="{{url_for('static', filename='python-logo.png')}} "/>
                    </div>
                    <div class="m-3">
                        <img  style="height: 75px; width: 75px;" src="{{url_for('static', filename='javascript-logo.png')}} "/>
                    </div>
                    <div class="m-3">
                        <img  style="height: 75px; width: 75px;" src="{{url_for('static', filename='html-logo.png')}} "/>
                    </div>
                </span>
            </div>

        </div>
        
    </section>
{% endblock %}
