{% extends 'layout.html' %}

{% block content %} 
    <!--Certifications and skills-->
    <section class="skills" id="skill">
        <h2 class="section__title section__title--skill">My skills and certifications</h2>
        <p class="section__subtitle section__subtitle--about"></p>
        <div class="skills__body">
            <p></p>
            <p></p>
        </div>
        <img  style="height: 100px;" src="{{url_for('static', filename='selfiepic.jpg')}} "/>

    </section>
{% endblock %}
