{% extends 'layout.html' %}

{% block content %} 
    <!--My work-->
    <section class="my-work" id="work">
        <h2 class="section__title">My work</h2>
        <p class="section__subtitle"></p>
        <div class="portfolio">

            <!--Portfolio item 1-->
            <a href="#" class="portfolio__item">
                <img src="" alt="" class="portfolio__img">
            </a>
            
            <!--Portfolio item 2-->
            <a href="#" class="portfolio__item">
                <img src="" alt="" class="portfolio__img">
            </a>

            <!--Portfolio item 3-->
            <a href="#" class="portfolio__item">
                <img src="" alt="" class="portfolio__img">
            </a>

            <!--Portfolio item 4-->
            <a href="#" class="portfolio__item">
                <img src="" alt="" class="portfolio__img">
            </a>

            <!--Portfolio item 5-->
            <a href="#" class="portfolio__item">
                <img src="" alt="" class="portfolio__img">
            </a>

        </div>
    </section>
{% endblock %}
